@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/inter/Inter-Regular.woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/inter/Inter-Bold.woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('../fonts/inter/Inter-Black.woff');
}
