.lead__image{
  padding: 64px 0 0;
  max-width: 1280px;
  max-height: 615px;
  object-fit: cover;
}
@media screen and (max-width: 1024px){
  .lead__image{
    padding: 56px 0 0;
  }
}
@media screen and (max-width: 550px){
  .lead__image{
    padding: 40px 0 0;
  }
}
